<div class="form-group"
     *ngIf="(uploads | async)?.length > 0">
  <label for="clinic-images">Image List</label>
  <div class="flex-container-row">
    <app-clinic-image-detail class="flex-container-column mr-1"
                             id="clinic-images"
                             *ngFor="let upload of uploads | async"
                             [clinic]="clinic"
                             [upload]="upload"></app-clinic-image-detail>
  </div>
</div>
