<section class="sidenav-content">

  <section class="nav-group">
    <input id="clinics" type="checkbox">
    <label for="clinics">Clinics</label>
    <ul class="nav-list">
      <li><a class="nav-link active">All Clinics</a></li>
      <li><a class="nav-link">My Clinics</a></li>
    </ul>
  </section>

  <section class="nav-group">
    <input id="users" type="checkbox">
    <label for="users">Users</label>
    <ul class="nav-list">
      <li><a class="nav-link">All Users</a></li>
      <li><a class="nav-link">Pending Approvals</a></li>
    </ul>
  </section>

</section>
