<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="world"></clr-icon>
      <span class="title">{{ title }}</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        {{ email }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <!--<a routerLink="/" clrDropdownItem>Preferences</a>-->
        <a clrDropdownItem
           (click)="logout()">Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
