
<div class="form-group">
  <label for="clinic-image-form">Image Upload</label>
  <div *ngIf="currentUpload" class="progress">
    <progress max=100 value="{{ currentUpload?.progress }}" data-displayval="0%"></progress>
  </div>

  <div>
    <div class="btn btn-link h-50">
      <input type="file"
             multiple
             id="clinic-image-form"
             (change)="detectFiles($event)">
    </div>
  </div>

  <div>
    <div class="btn btn-outline"
         *ngIf="selectedFiles"
         (click)="uploadMulti()">
      Upload Files
    </div>
  </div>
</div>
