

<h1>{{ state === 0 ? 'Add a Clinic' : 'Edit Clinic' }}</h1>

<form class="compact"
      [formGroup]="clinicForm"
      (ngSubmit)="save(clinicForm)" >

  <section class="form-block">

    <div *ngIf="state !== 0">
      <h3>Clinic Images</h3>
      <app-clinic-image-list *ngIf="clinic"
                             [clinic]="clinic.key"></app-clinic-image-list>

      <app-clinic-image-form *ngIf="clinic"
                             [clinic]="clinic.key"></app-clinic-image-form>
    </div>

    <h3>Clinic Info</h3>
    <!-- institution -->
    <div class="form-group">
      <label for="institution">Institution</label>
      <label for="institution"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('institution').invalid &&
                ( clinicForm.get('institution').dirty ||
                  clinicForm.get('institution').touched)">
        <input id="institution"
               type="text"
               placeholder="Institution"
               formControlName="institution">
        <span class="tooltip-content">
          Institution is required.
        </span>
      </label>
    </div>

    <!-- typeHygieneClinic -->
    <div class="form-group">
      <label for="typeHygieneClinic">Clinic Types</label>
      <label for="typeHygieneClinic"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('typeHygieneClinic').invalid &&
                ( clinicForm.get('typeHygieneClinic').dirty ||
                  clinicForm.get('typeHygieneClinic').touched)">
        <div class="checkbox-inline">
          <input id="typeHygieneClinic" class="checkbox" type="checkbox"
                 formControlName="typeHygieneClinic" checked>
          <label for="typeHygieneClinic">Hygiene Clinic</label>
        </div>
        <div class="checkbox-inline ml-1">
          <input id="typeTreatmentHub" class="checkbox" type="checkbox"
                 formControlName="typeTreatmentHub" checked>
          <label for="typeTreatmentHub">Treatment Hub</label>
        </div>
        <div class="checkbox-inline ml-1">
          <input id="typeCondomStop" class="checkbox" type="checkbox"
                 formControlName="typeCondomStop" checked>
          <label for="typeCondomStop">Condom Stop</label>
        </div>
        <span class="tooltip-content">
          Hygiene Clinic must be valid.
        </span>
      </label>
    </div>
  </section>

  <section class="form-block"
           formGroupName="poc">
    <h3>Point of Contact</h3>

    <!-- poc-name -->
    <div class="form-group">
      <label for="poc-name">Name</label>
      <label for="poc-name"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('poc').get('name').invalid &&
                ( clinicForm.get('poc').get('name').dirty ||
                  clinicForm.get('poc').get('name').touched)">
        <input id="poc-name"
               type="text"
               placeholder="Name"
               formControlName="name">
        <span class="tooltip-content">
            Name is required.
          </span>
      </label>
    </div>

    <!-- poc-designation -->
    <div class="form-group">
      <label for="poc-designation">Designation</label>
      <label for="poc-designation"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('poc').get('designation').invalid &&
                ( clinicForm.get('poc').get('designation').dirty ||
                  clinicForm.get('poc').get('designation').touched)">
        <input id="poc-designation"
               type="text"
               placeholder="Designation"
               formControlName="designation">
        <span class="tooltip-content">
          Designation must be valid.
        </span>
      </label>
    </div>
  </section>

  <section class="form-block">
    <h3>Address</h3>

    <!-- address -->
    <div class="form-group">
      <label for="address">Address</label>
      <label for="address"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('address').invalid &&
                ( clinicForm.get('address').dirty ||
                  clinicForm.get('address').touched)">
        <input id="address"
               type="text"
               placeholder="Address"
               formControlName="address">
        <span class="tooltip-content">
          Address is required.
        </span>
      </label>
    </div>

    <!-- city -->
    <div class="form-group">
      <label for="city">City</label>
      <label for="city"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('city').invalid &&
                ( clinicForm.get('city').dirty ||
                  clinicForm.get('city').touched)">
        <input id="city"
               type="text"
               placeholder="City"
               formControlName="city">
        <span class="tooltip-content">
          City is required.
        </span>
      </label>
    </div>

    <!-- province -->
    <div class="form-group">
      <label for="province">Province</label>
      <label for="province"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('province').invalid &&
                ( clinicForm.get('province').dirty ||
                  clinicForm.get('province').touched)">
        <div class="select form-control">
          <select id="province"
                  name="province"
                  formControlName="province">
            <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
          </select>
        </div>
        <span class="tooltip-content">
          Province is required.
        </span>
      </label>
    </div>

    <!-- region -->
    <div class="form-group">
      <label for="region">Region</label>
      <label for="region"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('region').invalid &&
                ( clinicForm.get('region').dirty ||
                  clinicForm.get('region').touched)">
        <div class="select form-control">
          <select id="region"
                  name="region"
                  formControlName="region">
            <option *ngFor="let region of regions" [value]="region">{{region}}</option>
          </select>
        </div>
        <span class="tooltip-content">
          Region is required.
        </span>
      </label>
    </div>


    <div class="form-group">
      <label for="lat">Coordinates</label>

      <label for="lat"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('lat').invalid &&
                ( clinicForm.get('lat').dirty ||
                  clinicForm.get('lat').touched)">
        <label for="lat">Lat:</label>
        <input id="lat"
               type="number"
               step="0.0001"
               placeholder="Lat"
               formControlName="lat">
        <span class="tooltip-content">
          Lat must be a valid number (-90 to 90)
        </span>
      </label>

      <label for="long"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('long').invalid &&
                ( clinicForm.get('long').dirty ||
                  clinicForm.get('long').touched)">
        <label for="long">Long:</label>
        <input id="long"
               type="number"
               step="0.0001"
               placeholder="Long"
               formControlName="long">
        <span class="tooltip-content">
          Long must be a valid (-180 to 180)
        </span>
      </label>

    </div>
  </section>

  <section class="form-block">
    <h3>Services</h3>

    <div formArrayName="services">
      <div *ngFor="let service of clinicForm['controls'].services['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="service-name-{{i}}">Name & Price</label>

              <div>
                <label for="service-name-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('services').controls[i].get('name').invalid &&
                          ( clinicForm.get('services').controls[i].get('name').dirty ||
                            clinicForm.get('services').controls[i].get('name').touched)">
                  <input id="service-name-{{i}}"
                         type="text"
                         placeholder="Name"
                         formControlName="name">
                  <span class="tooltip-content">
                    Name is required.
                  </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="service-price-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('services').controls[i].get('price').invalid &&
                          ( clinicForm.get('services').controls[i].get('price').dirty ||
                            clinicForm.get('services').controls[i].get('price').touched)">
                  <input id="service-price-{{i}}"
                         type="text"
                         placeholder="Price"
                         formControlName="price">
                  <span class="tooltip-content">
                    Price must be a number.
                  </span>
                </label>
              </div>
            </div>

            <div class="form-group"
                 [formGroupName]="i">
              <label for="service-details-{{i}}">Details</label>
              <label for="service-details-{{i}}"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="
                        clinicForm.get('services').controls[i].get('details').invalid &&
                        ( clinicForm.get('services').controls[i].get('details').dirty ||
                          clinicForm.get('services').controls[i].get('details').touched)">
                <input id="service-details-{{i}}"
                       type="text"
                       placeholder="Details"
                       formControlName="details">
                <span class="tooltip-content">
                  Details must be valid.
                </span>
              </label>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('services', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addService('services', clinicForm)">Add Service</span>
  </section>

  <section class="form-block">
    <h3>Lab Tests</h3>

    <div formArrayName="labtests">
      <div *ngFor="let labtest of clinicForm['controls'].labtests['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="labtest-name-{{i}}">Name & Price</label>

              <div>
                <label for="labtest-name-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('labtests').controls[i].get('name').invalid &&
                          ( clinicForm.get('labtests').controls[i].get('name').dirty ||
                            clinicForm.get('labtests').controls[i].get('name').touched)">
                  <input id="labtest-name-{{i}}"
                         type="text"
                         placeholder="Name"
                         formControlName="name">
                  <span class="tooltip-content">
                    Name is required.
                  </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="labtest-price-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('labtests').controls[i].get('price').invalid &&
                          ( clinicForm.get('labtests').controls[i].get('price').dirty ||
                            clinicForm.get('labtests').controls[i].get('price').touched)">
                  <input id="labtest-price-{{i}}"
                         type="text"
                         placeholder="Price"
                         formControlName="price">
                  <span class="tooltip-content">
                    Price must be a number.
                  </span>
                </label>
              </div>
            </div>

            <div class="form-group"
                 [formGroupName]="i">
              <label for="labtest-details-{{i}}">Details</label>
              <label for="labtest-details-{{i}}"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="
                        clinicForm.get('labtests').controls[i].get('details').invalid &&
                        ( clinicForm.get('labtests').controls[i].get('details').dirty ||
                          clinicForm.get('labtests').controls[i].get('details').touched)">
                <input id="labtest-details-{{i}}"
                       type="text"
                       placeholder="Details"
                       formControlName="details">
                <span class="tooltip-content">
                  Details must be valid.
                </span>
              </label>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('labtests', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addService('labtests', clinicForm)">Add Lab Test</span>
  </section>


  <section class="form-block">
    <h3>Facilities</h3>

    <div formArrayName="facilities">
      <div *ngFor="let facility of clinicForm['controls'].facilities['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="facility-name-{{i}}">Name</label>
              <label for="facility-name-{{i}}"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="
                        clinicForm.get('facilities').controls[i].get('name').invalid &&
                        ( clinicForm.get('facilities').controls[i].get('name').dirty ||
                          clinicForm.get('facilities').controls[i].get('name').touched)">
                <input id="facility-name-{{i}}"
                       type="text"
                       placeholder="Name"
                       formControlName="name">
                <span class="tooltip-content">
                  Name is required.
                </span>
              </label>

            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('facilities', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addFacility('facilities', clinicForm)">Add Facility</span>
  </section>


  <section class="form-block">
    <h3>Counselors</h3>

    <div formArrayName="counselors">
      <div *ngFor="let counselor of clinicForm['controls'].counselors['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="counselor-name-{{i}}">Name & Designation</label>

              <div>
                <label for="counselor-name-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('counselors').controls[i].get('name').invalid &&
                        ( clinicForm.get('counselors').controls[i].get('name').dirty ||
                          clinicForm.get('counselors').controls[i].get('name').touched)">
                  <input id="counselor-name-{{i}}"
                         type="text"
                         placeholder="Name"
                         formControlName="name">
                  <span class="tooltip-content">
                  Name is required.
                </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="counselor-designation-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('counselors').controls[i].get('designation').invalid &&
                        ( clinicForm.get('counselors').controls[i].get('designation').dirty ||
                          clinicForm.get('counselors').controls[i].get('designation').touched)">
                  <input id="counselor-designation-{{i}}"
                         type="text"
                         placeholder="Designation"
                         formControlName="designation">
                  <span class="tooltip-content">
                  Designation must be valid.
                </span>
                </label>
              </div>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('counselors', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addPerson('counselors', clinicForm)">Add Counselor</span>
  </section>

  <section class="form-block">
    <h3>Key Persons</h3>

    <div formArrayName="keys">
      <div *ngFor="let key of clinicForm['controls'].keys['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="key-name-{{i}}">Name & Designation</label>

              <div>
                <label for="key-name-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('keys').controls[i].get('name').invalid &&
                        ( clinicForm.get('keys').controls[i].get('name').dirty ||
                          clinicForm.get('keys').controls[i].get('name').touched)">
                  <input id="key-name-{{i}}"
                         type="text"
                         placeholder="Name"
                         formControlName="name">
                  <span class="tooltip-content">
                  Name is required.
                </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="key-designation-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('keys').controls[i].get('designation').invalid &&
                        ( clinicForm.get('keys').controls[i].get('designation').dirty ||
                          clinicForm.get('keys').controls[i].get('designation').touched)">
                  <input id="key-designation-{{i}}"
                         type="text"
                         placeholder="Designation"
                         formControlName="designation">
                  <span class="tooltip-content">
                  Designation must be valid.
                </span>
                </label>
              </div>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('keys', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addPerson('keys', clinicForm)">Add Key Person</span>
  </section>

  <section class="form-block">
    <h3>Doctors</h3>

    <div formArrayName="doctors">
      <div *ngFor="let doctor of clinicForm['controls'].doctors['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="doctor-name-{{i}}">Name & Designation</label>

              <div>
                <label for="doctor-name-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('doctors').controls[i].get('name').invalid &&
                        ( clinicForm.get('doctors').controls[i].get('name').dirty ||
                          clinicForm.get('doctors').controls[i].get('name').touched)">
                  <input id="doctor-name-{{i}}"
                         type="text"
                         placeholder="Name"
                         formControlName="name">
                  <span class="tooltip-content">
                  Name is required.
                </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="doctor-designation-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('doctors').controls[i].get('designation').invalid &&
                        ( clinicForm.get('doctors').controls[i].get('designation').dirty ||
                          clinicForm.get('doctors').controls[i].get('designation').touched)">
                  <input id="doctor-designation-{{i}}"
                         type="text"
                         placeholder="Designation"
                         formControlName="designation">
                  <span class="tooltip-content">
                  Designation must be valid.
                </span>
                </label>
              </div>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('doctors', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addPerson('doctors', clinicForm)">Add Doctor</span>
  </section>


  <section class="form-block">
    <h3>Educators</h3>

    <div formArrayName="educators">
      <div *ngFor="let educator of clinicForm['controls'].educators['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="educator-name-{{i}}">Name & Designation</label>

              <div>
                <label for="educator-name-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('educators').controls[i].get('name').invalid &&
                        ( clinicForm.get('educators').controls[i].get('name').dirty ||
                          clinicForm.get('educators').controls[i].get('name').touched)">
                  <input id="educator-name-{{i}}"
                         type="text"
                         placeholder="Name"
                         formControlName="name">
                  <span class="tooltip-content">
                  Name is required.
                </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="educator-designation-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                        clinicForm.get('educators').controls[i].get('designation').invalid &&
                        ( clinicForm.get('educators').controls[i].get('designation').dirty ||
                          clinicForm.get('educators').controls[i].get('designation').touched)">
                  <input id="educator-designation-{{i}}"
                         type="text"
                         placeholder="Designation"
                         formControlName="designation">
                  <span class="tooltip-content">
                  Designation must be valid.
                </span>
                </label>
              </div>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('educators', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addPerson('educators', clinicForm)">Add Educator</span>
  </section>

  <section class="form-block"
           formGroupName="schedule">
    <h3>Schedule</h3>

    <!-- monday -->
    <div class="form-group"
         formGroupName="monday">
      <label for="monday-open">Monday</label>

      <div>
        <label for="monday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('monday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('monday').get('open').dirty ||
                    clinicForm.get('schedule').get('monday').get('open').touched)">
          <div class="toggle-switch">
            <input id="monday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="monday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Monday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="monday-start">Start: </label>
        <label for="monday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('monday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('monday').get('start').dirty ||
                    clinicForm.get('schedule').get('monday').get('start').touched)">
          <div class="select form-control">
            <select id="monday-start"
                    name="monday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Monday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="monday-end">End: </label>
        <label for="monday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('monday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('monday').get('end').dirty ||
                    clinicForm.get('schedule').get('monday').get('end').touched)">
          <div class="select form-control">
            <select id="monday-end"
                    name="monday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Monday's end date must be valid.
          </span>
        </label>
      </div>

    </div>


    <!-- tuesday -->
    <div class="form-group"
         formGroupName="tuesday">
      <label for="tuesday-open">Tuesday</label>

      <div>
        <label for="tuesday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('tuesday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('tuesday').get('open').dirty ||
                    clinicForm.get('schedule').get('tuesday').get('open').touched)">
          <div class="toggle-switch">
            <input id="tuesday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="tuesday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Tuesday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="tuesday-start">Start: </label>
        <label for="tuesday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('tuesday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('tuesday').get('start').dirty ||
                    clinicForm.get('schedule').get('tuesday').get('start').touched)">
          <div class="select form-control">
            <select id="tuesday-start"
                    name="tuesday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Tuesday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="tuesday-end">End: </label>
        <label for="tuesday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('tuesday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('tuesday').get('end').dirty ||
                    clinicForm.get('schedule').get('tuesday').get('end').touched)">
          <div class="select form-control">
            <select id="tuesday-end"
                    name="tuesday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Tuesday's end date must be valid.
          </span>
        </label>
      </div>

    </div>

    <!-- wednesday -->
    <div class="form-group"
         formGroupName="wednesday">
      <label for="wednesday-open">Wednesday</label>

      <div>
        <label for="wednesday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('wednesday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('wednesday').get('open').dirty ||
                    clinicForm.get('schedule').get('wednesday').get('open').touched)">
          <div class="toggle-switch">
            <input id="wednesday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="wednesday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Wednesday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="wednesday-start">Start: </label>
        <label for="wednesday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('wednesday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('wednesday').get('start').dirty ||
                    clinicForm.get('schedule').get('wednesday').get('start').touched)">
          <div class="select form-control">
            <select id="wednesday-start"
                    name="wednesday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Wednesday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="wednesday-end">End: </label>
        <label for="wednesday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('wednesday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('wednesday').get('end').dirty ||
                    clinicForm.get('schedule').get('wednesday').get('end').touched)">
          <div class="select form-control">
            <select id="wednesday-end"
                    name="wednesday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Wednesday's end date must be valid.
          </span>
        </label>
      </div>

    </div>

    <!-- thursday -->
    <div class="form-group"
         formGroupName="thursday">
      <label for="thursday-open">Thursday</label>

      <div>
        <label for="thursday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('thursday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('thursday').get('open').dirty ||
                    clinicForm.get('schedule').get('thursday').get('open').touched)">
          <div class="toggle-switch">
            <input id="thursday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="thursday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Thursday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="thursday-start">Start: </label>
        <label for="thursday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('thursday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('thursday').get('start').dirty ||
                    clinicForm.get('schedule').get('thursday').get('start').touched)">
          <div class="select form-control">
            <select id="thursday-start"
                    name="thursday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Thursday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="thursday-end">End: </label>
        <label for="thursday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('thursday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('thursday').get('end').dirty ||
                    clinicForm.get('schedule').get('thursday').get('end').touched)">
          <div class="select form-control">
            <select id="thursday-end"
                    name="thursday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Thursday's end date must be valid.
          </span>
        </label>
      </div>

    </div>

    <!-- friday -->
    <div class="form-group"
         formGroupName="friday">
      <label for="friday-open">Friday</label>

      <div>
        <label for="friday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('friday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('friday').get('open').dirty ||
                    clinicForm.get('schedule').get('friday').get('open').touched)">
          <div class="toggle-switch">
            <input id="friday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="friday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Friday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="friday-start">Start: </label>
        <label for="friday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('friday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('friday').get('start').dirty ||
                    clinicForm.get('schedule').get('friday').get('start').touched)">
          <div class="select form-control">
            <select id="friday-start"
                    name="friday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Friday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="friday-end">End: </label>
        <label for="friday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('friday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('friday').get('end').dirty ||
                    clinicForm.get('schedule').get('friday').get('end').touched)">
          <div class="select form-control">
            <select id="friday-end"
                    name="friday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Friday's end date must be valid.
          </span>
        </label>
      </div>

    </div>

    <!-- saturday -->
    <div class="form-group"
         formGroupName="saturday">
      <label for="saturday-open">Saturday</label>

      <div>
        <label for="saturday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('saturday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('saturday').get('open').dirty ||
                    clinicForm.get('schedule').get('saturday').get('open').touched)">
          <div class="toggle-switch">
            <input id="saturday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="saturday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Saturday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="saturday-start">Start: </label>
        <label for="saturday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('saturday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('saturday').get('start').dirty ||
                    clinicForm.get('schedule').get('saturday').get('start').touched)">
          <div class="select form-control">
            <select id="saturday-start"
                    name="saturday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Saturday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="saturday-end">End: </label>
        <label for="saturday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('saturday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('saturday').get('end').dirty ||
                    clinicForm.get('schedule').get('saturday').get('end').touched)">
          <div class="select form-control">
            <select id="saturday-end"
                    name="saturday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Saturday's end date must be valid.
          </span>
        </label>
      </div>

    </div>


    <!-- sunday -->
    <div class="form-group"
         formGroupName="sunday">
      <label for="sunday-open">Sunday</label>

      <div>
        <label for="sunday-open"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('sunday').get('open').invalid &&
                  ( clinicForm.get('schedule').get('sunday').get('open').dirty ||
                    clinicForm.get('schedule').get('sunday').get('open').touched)">
          <div class="toggle-switch">
            <input id="sunday-open"
                   type="checkbox"
                   formControlName="open">
            <label for="sunday-open">Open</label>
          </div>
          <span class="tooltip-content">
              Sunday's open state must be valid.
            </span>
        </label>
      </div>

      <div>
        <label for="sunday-start">Start: </label>
        <label for="sunday-start"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('sunday').get('start').invalid &&
                  ( clinicForm.get('schedule').get('sunday').get('start').dirty ||
                    clinicForm.get('schedule').get('sunday').get('start').touched)">
          <div class="select form-control">
            <select id="sunday-start"
                    name="sunday-start"
                    formControlName="start">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Sunday's start date must be valid.
          </span>
        </label>
      </div>

      <div class="ml-1">
        <label for="sunday-end">End: </label>
        <label for="sunday-end"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-sm"
               [class.invalid]="
                  clinicForm.get('schedule').get('sunday').get('end').invalid &&
                  ( clinicForm.get('schedule').get('sunday').get('end').dirty ||
                    clinicForm.get('schedule').get('sunday').get('end').touched)">
          <div class="select form-control">
            <select id="sunday-end"
                    name="sunday-end"
                    formControlName="end">
              <option *ngFor="let time of timeIntervals" [value]="time">{{time}}</option>
            </select>
          </div>
          <span class="tooltip-content">
            Sunday's end date must be valid.
          </span>
        </label>
      </div>

    </div>

  </section>


  <section class="form-block">
    <h3>Contacts</h3>

    <!-- email -->
    <div class="form-group">
      <label for="email">Email</label>
      <label for="email"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="
                clinicForm.get('email').invalid &&
                ( clinicForm.get('email').dirty ||
                  clinicForm.get('email').touched)">
        <input id="email"
               type="text"
               placeholder="Email"
               formControlName="email">
        <span class="tooltip-content">
          Email must be a valid email.
        </span>
      </label>
    </div>
  </section>


  <section class="form-block">
    <h3>Phone Numbers</h3>

    <div formArrayName="numbers">
      <div *ngFor="let number of clinicForm['controls'].numbers['controls']; let i = index">

        <div class="row">

          <div class="col-sm-2 flex-center">
            {{ i + 1 }}
          </div>

          <div class="col-sm-8">

            <div class="form-group"
                 [formGroupName]="i">

              <label for="number-main-{{i}}">Main & Type</label>

              <div>
                <label for="number-main-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('numbers').controls[i].get('main').invalid &&
                          ( clinicForm.get('numbers').controls[i].get('main').dirty ||
                            clinicForm.get('numbers').controls[i].get('main').touched)">
                  <div class="toggle-switch">
                    <input id="number-main-{{i}}"
                           type="checkbox"
                           formControlName="main">
                    <label for="number-main-{{i}}">Main</label>
                  </div>
                  <span class="tooltip-content">
                    Main is required.
                  </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="number-type-{{i}}">Type: </label>
                <label for="number-type-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('numbers').controls[i].get('type').invalid &&
                          ( clinicForm.get('numbers').controls[i].get('type').dirty ||
                            clinicForm.get('numbers').controls[i].get('type').touched)">
                  <div class="select form-control">
                    <select id="number-type-{{i}}"
                            name="number-type-{{i}}"
                            formControlName="type">
                      <option *ngFor="let type of numberTypes" [value]="type">{{type}}</option>
                    </select>
                  </div>
                  <span class="tooltip-content">
                    Type is required.
                  </span>
                </label>
              </div>
            </div>


            <div class="form-group"
                 [formGroupName]="i">

              <label for="number-number-{{i}}">Number & Ext</label>

              <div>
                <label for="number-number-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('numbers').controls[i].get('number').invalid &&
                          ( clinicForm.get('numbers').controls[i].get('number').dirty ||
                            clinicForm.get('numbers').controls[i].get('number').touched)">
                  <input id="number-number-{{i}}"
                         type="text"
                         placeholder="Number"
                         formControlName="number">
                  <span class="tooltip-content">
                    Number is required.
                  </span>
                </label>
              </div>

              <div class="ml-1">
                <label for="number-ext-{{i}}"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="
                          clinicForm.get('numbers').controls[i].get('ext').invalid &&
                          ( clinicForm.get('numbers').controls[i].get('ext').dirty ||
                            clinicForm.get('numbers').controls[i].get('ext').touched)">
                  <input id="number-ext-{{i}}"
                         type="text"
                         placeholder="Ext"
                         formControlName="ext">
                  <span class="tooltip-content">
                    Ext must be valid.
                  </span>
                </label>
              </div>
            </div>

            <div class="form-group"
                 [formGroupName]="i">
              <label for="number-details-{{i}}">Details</label>
              <label for="number-details-{{i}}"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="
                        clinicForm.get('numbers').controls[i].get('details').invalid &&
                        ( clinicForm.get('numbers').controls[i].get('details').dirty ||
                          clinicForm.get('numbers').controls[i].get('details').touched)">
                <input id="number-details-{{i}}"
                       type="text"
                       placeholder="Details"
                       formControlName="details">
                <span class="tooltip-content">
                  Details must be valid.
                </span>
              </label>
            </div>

          </div>

          <div class="col-sm-2 flex-right">
            <div class="btn btn-icon btn-outline"
                 (click)="removeItem('numbers', clinicForm, i)">
              <clr-icon shape="times"></clr-icon>
            </div>
          </div>

        </div>

      </div>
    </div>

    <span class="btn btn-outline"
          (click)="addNumber('numbers', clinicForm)">Add Number</span>
  </section>

    <!-- actions -->
  <button class="btn btn-primary"
          type="submit"
          [disabled]="clinicForm.invalid">{{ state === 0 ? 'Add' : 'Update' }}</button>
  <button type="reset"
          class="btn btn-danger"
          [disabled]="clinicForm.pristine"
          (click)="reset(clinicForm)">Reset</button>
</form>

<p>Form value: {{ clinicForm.value | json }}</p>
<p>Form valid: {{ clinicForm.valid | json }}</p>
