<div class="main-container">
  <div class="alert alert-app-level">
  </div>

  <app-header></app-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <!--
    <nav class="sidenav">
      <app-side-nav></app-side-nav>
    </nav>
    -->
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
