<div class="login-wrapper">
  <form class="login">
    <!--
    <div *ngIf="userService.getUserInfo | async; let user">
      <h1>Hello {{ user.displayName }}!</h1>
      <button (click)="logout()">Logout</button>
    </div>
    -->
    <label class="title">
      <h3 class="welcome">#SafelyPH</h3>
      Clinic Dashboard
    </label>
    <div class="login-group">
      <input #loginEmail class="email" type="text" placeholder="Email">
      <input #loginPassword class="password" type="password" placeholder="Password">
      <div *ngIf="!valid"
           class="error active">
        Invalid user name or password
      </div>
      <a class="btn btn-primary"
         (click)="login(loginEmail.value, loginPassword.value)">Sign In</a>
    </div>
  </form>
</div>

