<div *ngIf="clinic">
  <h1>
    {{ clinic.val.institution }}
  </h1>

  <div>
    <span class="label"
        *ngIf="clinic.val.typeHygieneClinic">Hygiene Clinic</span>
    <span class="label"
          *ngIf="clinic.val.typeTreatmentHub">Treatment Hub</span>
    <span class="label"
          *ngIf="clinic.val.typeCondomStop">Condom Stop</span>
  </div>

  <h4>
    <span class="font-weight-bold">Point of Contact: </span>
    <span>{{ clinic.val.poc.name }}, {{ clinic.val.poc.designation }}</span>
  </h4>


  <div>
    <button class="btn btn-primary"
            (click)="editClinic()">Edit</button>
    <button class="btn btn-danger"
            (click)="deleteClinic()">Delete</button>
  </div>
</div>

