<h1>
  Clinic List
  <span class="btn btn-outline ml-1"
        (click)="generateCSV()">
  Generate CSV
</span>
</h1>


<!-- datagrid -->
<clr-datagrid [(clrDgSingleSelected)]="selectedClinic"
              [clDgRowSelection]="true">
  <clr-dg-column [clrDgField]="'val.institution'">Name</clr-dg-column>

  <clr-dg-column>
    Clinic Type
    <clr-dg-filter [clrDgFilter]="clinicTypeFilter">
      <app-clinic-type-filter #clinicTypeFilter></app-clinic-type-filter>
    </clr-dg-filter>
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'val.address'">Address</clr-dg-column>
  <clr-dg-column [clrDgField]="'val.city'">City</clr-dg-column>
  <clr-dg-column [clrDgField]="'val.province'">Province</clr-dg-column>
  <clr-dg-column [clrDgField]="'val.region'">Region</clr-dg-column>

  <clr-dg-placeholder>Please wait while we're loading all the clinics!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let clinic of clinics$ | async"
              [clrDgItem]="clinic">
    <clr-dg-cell>{{ clinic.val.institution }}</clr-dg-cell>
    <clr-dg-cell>
      <span class="label"
          *ngIf="clinic.val.typeHygieneClinic">Hygiene Clinic</span>
      <span class="label"
            *ngIf="clinic.val.typeTreatmentHub">Treatment Hub</span>
      <span class="label"
            *ngIf="clinic.val.typeCondomStop">Condom Stop</span>
    </clr-dg-cell>
    <clr-dg-cell>{{ clinic.val.address }}</clr-dg-cell>
    <clr-dg-cell>{{ clinic.val.city }}</clr-dg-cell>
    <clr-dg-cell>{{ clinic.val.province }}</clr-dg-cell>
    <clr-dg-cell>{{ clinic.val.region }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{ pagination.firstItem + 1}} - {{ pagination.lastItem + 1 }}
    of {{ pagination.totalItems }} clinics
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<button class="btn btn-primary"
        routerLink="/dashboard/clinic/detail/{{ selectedClinic ? selectedClinic.key : '' }}"
        [disabled]="!selectedClinic ? true : null">View Clinic</button>


<button class="btn btn-success"
        routerLink="/dashboard/clinic/new">Add a Clinic</button>

<!--
<p>selectedClinic value: {{ selectedClinic | json }}</p>
-->



